
@{
    ViewBag.Title = "Pricing";
}

    <div class="comparison">

        <div class="row">
            <div class="col-md-12">
                <div style="font-size: 14.0px;font-weight: 700;color: rgb(170,170,170);">PLANS &amp; PRICING</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 style="margin-bottom:45px">Please choose a plan that best suit your pocket</h2>
            </div>
        </div>




        <table>
            <thead>
                <tr>
                    <th class="tl tl2"></th>
                    <th class="qbse">
                        Self-Employed & Freelance
                    </th>
                    <th colspan="3" class="qbo">
                        Small businesses that need accounting, invoicing or payroll
                    </th>
                </tr>
                <tr>
                    <th class="tl"></th>
                    <th class="compare-heading">
                        Self-Employed
                    </th>
                    <th class="compare-heading">
                        Simple Start
                    </th>
                    <th class="compare-heading">
                        Essentials
                    </th>
                    <th class="compare-heading">
                        Plus
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th class="price-info">
                        <div class="price-was">Was N25,000.00</div>
                        <div class="price-now"><span>N20,000<span class="price-small">.00</span></span> /month</div>
                        <div><a href="Payroll App Subscription - Self Employed" data-plan-id="PLN_62rbg85j6vliq93" data-amount="20000" class="price-buy">Buy <span class="hide-mobile">Now</span></a></div>

                    </th>
                    <th class="price-info">
                        <div class="price-was">Was N30,000.00</div>
                        <div class="price-now"><span>N25,000<span class="price-small">.00</span></span> /month</div>
                        <div><a href="Payroll App Subscription - Simple Start" data-plan-id="PLN_k5o3t1jzdni594j" data-amount="25000" class="price-buy">Buy <span class="hide-mobile">Now</span></a></div>

                    </th>
                    <th class="price-info">
                        <div class="price-was">Was N35,000.00</div>
                        <div class="price-now"><span>N30,000<span class="price-small">.00</span></span> /month</div>
                        <div><a href="Payroll App Subscription - Essentials" data-plan-id="PLN_x9ocx1q2uii272d" data-amount="30000" class="price-buy">Buy <span class="hide-mobile">Now</span></a></div>

                    </th>
                    <th class="price-info">
                        <div class="price-was">Was N50,000.00</div>
                        <div class="price-now"><span>N45,000<span class="price-small">.00</span></span> /month</div>
                        <div><a href="Payroll App Subscription - Plus" data-plan-id="PLN_mccqd9hz47g1zw4" data-amount="45000" class="price-buy">Buy <span class="hide-mobile">Now</span></a></div>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td colspan="4">Seperate business from personal spending</td>
                </tr>
                <tr class="compare-row">
                    <td>Seperate business/personal</td>
                    <td><span class="tickblue">✔</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="4">Estimate tax payments</td>
                </tr>
                <tr>
                    <td>Estimate tax payments</td>
                    <td><span class="tickblue">✔</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="4">Track deductible mileage</td>
                </tr>
                <tr class="compare-row">
                    <td>Track deductible mileage</td>
                    <td><span class="tickblue">✔</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="4">Download online banking</td>
                </tr>
                <tr>
                    <td>Download online banking</td>
                    <td><span class="tickblue">✔</span></td>
                    <td><span class="tickgreen">✔</span></td>
                    <td><span class="tickgreen">✔</span></td>
                    <td><span class="tickgreen">✔</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="4">Works on PC, Mac & mobile</td>
                </tr>
                <tr class="compare-row">
                    <td>Multi-device</td>
                    <td><span class="tickblue">✔</span></td>
                    <td><span class="tickgreen">✔</span></td>
                    <td><span class="tickgreen">✔</span></td>
                    <td><span class="tickgreen">✔</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="4">Create invoices & estimates</td>
                </tr>
                <tr>
                    <td>Create invoices & estimates</td>
                    <td></td>
                    <td><span class="tickgreen">✔</span></td>
                    <td><span class="tickgreen">✔</span></td>
                    <td><span class="tickgreen">✔</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="4">Manage VAT</td>
                </tr>
                <tr class="compare-row">
                    <td>Manage VAT</td>
                    <td></td>
                    <td><span class="tickgreen">✔</span></td>
                    <td><span class="tickgreen">✔</span></td>
                    <td><span class="tickgreen">✔</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="4">Run payroll</td>
                </tr>
                <tr>
                    <td>Run payroll</td>
                    <td></td>
                    <td><span class="tickgreen">✔</span></td>
                    <td><span class="tickgreen">✔</span></td>
                    <td><span class="tickgreen">✔</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="4">Number of users</td>
                </tr>
                <tr class="compare-row">
                    <td>Number of users</td>
                    <td class="tickblue">1 user</td>
                    <td class="tickgreen">1 user</td>
                    <td class="tickgreen">3 users</td>
                    <td class="tickgreen">5 users</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="4">Manage bills & payments</td>
                </tr>
                <tr>
                    <td>Manage bills & payments</td>
                    <td></td>
                    <td></td>
                    <td><span class="tickgreen">✔</span></td>
                    <td><span class="tickgreen">✔</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="4">Handle multiple currencies</td>
                </tr>
                <tr class="compare-row">
                    <td>Handle multiple currencies</td>
                    <td></td>
                    <td></td>
                    <td><span class="tickgreen">✔</span></td>
                    <td><span class="tickgreen">✔</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="4">Create budgets</td>
                </tr>
                <tr>
                    <td>Create budgets</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="tickgreen">✔</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="4">Track employee time</td>
                </tr>
                <tr class="compare-row">
                    <td>Track employee time</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="tickgreen">✔</span></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="4">Stock control</td>
                </tr>
                <tr>
                    <td>Stock control</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><span class="tickgreen">✔</span></td>
                </tr>
            </tbody>
        </table>

    </div>





@section scripts{

    <script>

        function addToCart(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "@Url.Action("AddToCart", "Pricing")",
                data: data
            });
        }


        $(function () {
            $("#planId").val("");
            $("#planName").val("");
            $("#planAmount").val("");

            $(document).on("click", ".price-buy", function (e) {
                e.preventDefault();
                var $self = $(this);

                $self.attr("disabled", true);

                var data = JSON.stringify({
                    cartCode:"",
                    planName: $self.attr("href"),
                    planId: $self.attr("data-plan-id"),
                    amount: $self.attr("data-amount")
                });

                $.when(addToCart(data)).then(function (response) {

                    if (response.error == false) {
                        window.location.href = "@Url.Action("subscription", "billing")"
                    }

                }).fail(function (err) {
                    $self.attr("disabled", false);
                })

                
            });

        })

    </script>

}